/*==========锟�锟斤拷式===========*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	
}
.configBody{
	text-align: center;
}
.configTable {
	 background:#C0C0C0;
	 cellpadding: 0px;
	}
.configTable tr td {
	 height:22; 
	 width:3%;  
	 background:#F6F6F6;
	 font:normal 12px/22px; 
	 color:#707070;
	}
td.stair{
	height:40px;
	font-weight:900px;
}

/*==========Validform锟斤拷式===========*/
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../js/validForm/images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../js/validForm/images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../js/validForm/images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}

/*==========锟斤拷锟铰诧拷锟斤拷锟斤拷jquery ui锟斤拷锟斤拷锟斤拷锟斤拷式===========*/
/*label { display:block; }*/
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }

/*==========ztree锟斤拷式===========*/

div.zTreeDemoBackground {
	height:400px;
	padding:45px 0 0 60px;
	text-align:left;
	width:280px;
	background: url(images/zTreeDemo_background.png) no-repeat;
}

ul#treeDemo {
	width:210px;
	height:330px;
	overflow-y:scroll;
	overflow-x:auto;
}

.button02{
  background: url(../images/btn_bg.gif) no-repeat;
   height:500px;
   width:1000px;
   border:none;
   font-weight:bold;
   color:#ffffff;
   }
