@charset "utf-8";
/* CSS Document */
/* common */
  a,font,body{
	font-family: Verdana;
}
A:link{ COLOR: #333333; TEXT-DECORATION: none}
A:visited { COLOR: #333333; TEXT-DECORATION: none}
A:hover{ COLOR: #a34102; TEXT-DECORATION: underline}
A:active { COLOR: #a34102; TEXT-DECORATION: underline}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,p { margin:0px; padding: 0px; list-style:none; }
img
{
    border:0px;
}
BODY {
	FONT-SIZE: 12px;
	COLOR: #333;
	line-height: 150%;
	margin: 0px;
	height:100%;
	overflow-y:auto;
	}
/****/
.clear{ clear:both;}
.loginbg{
   background:url(../images/mainbg.jpg) repeat-x top #f2f2f2;}
.middle{
   background:#f2f2f2;
   height:100%;
   background:url(../images/login_bg.jpg) no-repeat center;
   width:970px;
   height:263px;
   margin:180px auto 0 auto;}
.login_div{
   width:360px;
   padding:22px 25px 0 0;
   margin:0 auto;} 
.title01{
   text-align:right;}   
.vision{
    text-align:right;
	font-family:"微软雅黑";
	font-size:15px;
	color:#004999;
	font-weight:bold;
	margin:21px 5px 0 0;
	font-style: italic}  
.userinfo{
   width:203px;
   float:right;
   margin-top:23px;
   padding-right:2px;}	
.userinfo li{
   font-size:12px;
   font-weight:bold;
   font-family:"微软雅黑";
   color:#4b4b4b;}   
.login_text{
   height:19px;
   width:139px;
   border:#afafaf 1px solid;
   padding-left:6px;
   padding-top:2px;}	
.user{
   margin-bottom:8px;
   
   }	
.button_login{
   margin-top:29px;
   padding-left:18px;
   text-align:right;}	
.button_login span{ margin-left:12px;}		
.foot{
   background:#1370b5;
   height:34px;
   line-height:34px;
   text-align:center;
   color:#c4dbec;
   font-weight:bold;
   font-family:"微软雅黑";
   font-size:12px;
   position:fixed; left:0; bottom:-1px; width:100%;}
html .footer { position:absolute;}








